<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Patitas y Caricias{% endblock %}</title>
    
    <!-- google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap" rel="stylesheet">
    <!-- Bootstrap4-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Scroll reveal-->
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        .navbar {
            background-color: #1D3B58 !important;
        }
        .navbar-nav .nav-link,
            .navbar-brand {
                color: #fff !important;
            }

        .footer {
        background-color: #1D3B58;
        padding: 20px 0;
        }
        
        .social-icon {
        font-size: 24px;
        margin-right: 10px;
        color: #fff;
        }
    </style>
     <!--Custom css-->

     <!--<link rel="stylesheet" href="templates/css/main.css">-->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
     {% block links %}{% endblock %}



</head>
<body>
    <!-- Navegacion -->
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container">
            <a href="" class="navbar-brand">Patitas y Caricias</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#firstNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse" id="firstNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item"><a href="{{url_for('base')}}" class="nav-link">Inicio</a></li>
                    <li class="navbar-item"><a href="{{url_for('mascotas')}}" class="nav-link">Mascotas</a></li>
                    <li class="navbar-item"><a href="{{url_for('contacto')}}" class="nav-link">Contáctanos</a></li>
                  
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        {% block contenido_body %}
          <div class="row">
            <div class="col-md-12 mt-5">
              <div class="header-icon-one">
                  <img src="{{ url_for('static', filename='imgs/logo.png') }}" style="width: 100%;" alt="logo">
              </div>
          </div>
          </div>
        {% endblock %}
    </div>
        <!-- footer -->
        <footer class="footer mt-5">
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <a href="https://www.facebook.com/maiotperu/" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                <a href="https://www.youtube.com/@MAIOTPERU" class="social-icon"><i class="fab fa-youtube"></i></a>
                <a href="https://www.instagram.com/maiot.peru/" class="social-icon"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/maiotper%C3%BA/" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
                <a href="https://www.tiktok.com/@maiot.peru" class="social-icon"><i class="fab fa-tiktok"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col text-center">
                <p class="text-muted">&copy; 2023 MAIOT PERÚ - Todos los derechos reservados</p>
              </div>
            </div>
          </div>
        </footer>

          
      
    <!-- bootstrap scripts-->
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
</body>
</html>