{% extends 'base.html' %}
{% block title %} Contáctanos {% endblock%}

{% block links %}
{% endblock %}

{% block contenido_body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Correo</h5>
                    <p class="card-text">maiot.peru@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teléfono</h5>
                    <p class="card-text">+51 929 543 867</p>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5 justify-content-center">
        <div class="text-center">
            <iframe 
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1950.5780442392604!2d-76.99632184636368!3d-12.101464804887158!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7c38e24d06d%3A0x97c18d66fd92b7d3!2sJir%C3%B3n%20Mois%C3%A9s%20Mendelssohn%20284%2C%20San%20Borja%2015037!5e0!3m2!1ses-419!2spe!4v1698517274507!5m2!1ses-419!2spe">
            </iframe>
        </div>
    </div>
</div>
{% endblock %}


